.striked {
  text-decoration: line-through;
}

.close {
  float: none;
}

.query {
  min-height: 100px;
}

.results {
  height: 500px;
  overflow-y: scroll;
}

.preset-select {
  width: 250px;
  display: inline;
}

.load-title {
  text-decoration: underline;
  text-decoration-style: dashed;
}
